@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif, monospace;
}

.container {
  border: 1px solid #000;
  width: 40%;
  margin: 10px;
  padding: 20px;
  float: left;
}

.form-heading {
  text-align: center;
  margin-bottom: 20px;
}
textarea {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  border: 2px solid #000;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.form-control-inline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.form-control-inline .form-control {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-control .input-label {
  margin-bottom: 4px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control select {
  height: 30px;
}

.form-control input,
select {
  height: 28px;
  box-sizing: border-box;
  border: 2px solid #000;
  padding: 4px;
}

.add-button {
  height: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  color: #ffff;
  background-color: #5cb85c;
}

.update-button {
  height: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  color: #ffff;
  background-color: #5cb85c;
}

.items-list {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

.update-task {
  margin-top: 20px;
}

.checkbox,
.nametask,
.detail-button,
.remove-button {
  margin-right: 20px;
}

.remove-button {
  float: right;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  height: 20px;
}

.detail-button {
  float: right;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  height: 20px;
}

.bulk-action {
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  margin-top: 20px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
